#cardPart{
  width:50%;
  margin: auto;
  margin-top:4%;
}
.inputsArea{
  width: 60%;
  margin: auto;
  margin-top: 3%;
}
.select{
  margin-bottom: 4%;
}
.authenticationButton{
  padding-right: 2%;
}
.popover{
  width: 13%;
}
